<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothe</title>
    <link rel="stylesheet" href="../css/clotheBranding.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7ff84953a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar__Container"> 
        <div class="title__Container">
            <h2 class="text">SKYLINER</h2>
            <a href="" class="text link">Menu</a>
        </div>
        <div class="action__Section__Container">
            <div class="searcher__Container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="SEARCH" class="text searcher">
            </div>
            
            <a href="" class="text link">Login <i class="fa-solid fa-caret-right"></i></a>
            <a href="" class="text link">Register <i class="fa-solid fa-caret-right"></i></a>
            
        </div>
    </nav>

    <main class="clothe__Info__Container">
        <div class="clothe__Description__Container">
            <div class="clothe__Name__Info">
                <h3 class="text">BLACK T-SHIRT & TROUSER</h3>
                <p class="text text__Regular">$49 (Regular price)</p>
            </div>
            <div class="clothe__Sizes">
                <p class="text text__Bold">Size</p>
                <p class="text text__Regular">S</p>
                <p class="text text__Regular">M</p>
                <p class="text text__Regular">L</p>
                <p class="text text__Regular">XL</p>
            </div>
            <p class="text text__Bold">Product overview</p>
            <div class="clothe__Overview">
                <p class="text text__Regular">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga vel debitis laboriosam blanditiis molestiae sit labore quis vitae repellendus voluptate! Enim vitae ex atque minima reiciendis. Aspernatur dolorem repellat rerum?</p>
                <p class="text text__Regular">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum nisi repellendus animi soluta cumque dolores laboriosam iste consectetur obcaecati eos suscipit repudiandae atque numquam explicabo nihil ipsa, voluptatibus pariatur id.</p>
            </div>
            <div class="action__Buttons__Container">
                <button class="button black__Button">ADD TO BAG</button>
                <button class="button white__Button ">FIND IN STORE</button>
            </div>
        </div>
        <div class="clothe__Image__Container">
            <div class="one">
                <img src="../images/model1.webp" alt="" style="height: 100%; width: 100%;">
            </div>
            <div class="two">
                <img src="../images/model2.webp" alt="" style="height: 100%; width: 100%; object-fit: cover ;">
            </div>
            <div class="three">
                <img src="../images/model3.webp" alt="" style="height: 100%; width: 100%; object-fit: cover;">
            </div>
        </div>

    </main>
    
</body>
</html>