<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/userMediaProfile.css">
    <title>User</title>
</head>
<body>
    <div class="card__Container">
        <div class="title__Container">
            <p class="title text">Performance</p>
        </div>
        <div class="selector__Container">
            <div class="selected">
                <p class="text">New User</p>
            </div>
            <div class="selector__Item "> 
                <p class="text">Online Sales</p>
            </div>
            <div class="selector__Item "> 
                <p class="text">Daily Sales</p>
            </div>
        </div>
        <div class="profile__Container">
            <div class="user__Data__Container">
                <div class="user__Picture__Container">
                    <img src="../images/profilePic.jpg" alt="">
                </div>
                <div class="user__Higlights__Container">
                    <p class="text subtitle">TOP USER</p>
                    <p class="text content" >Jade Wallace</p>
                    <p class="text subtitle">DAILY PURCHASE</p>
                    <p class="text content">10 items</p>
                </div>
            </div>
            <div class="user__Stats_Container">
                <div class="user__Grow__Container">
                    <div>
                        <p class="text subtitle">TOTAL NEW USERS</p>
                        <p class="text content">5,9K</p>
                    </div>
                    <p class="text"> 8,20%</p>
                </div>
                <div class="user__Media__Container">
                    <img src="../images/perfiles.jpg" alt="">
                    <b class="button">See all</b>
                </div>
            </div>
        </div>
    </div>
</body>
</html>